:root {
    --color-primary: #3E1E68;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.header-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem;
    width: 100%;
    flex: 0 1 40%;
}

/*Seção de entrada*/
.input-section {
    flex: 1;
    background-color: var(--color-secondary);
    border-top: 0.125rem solid #000;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem; 
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: clamp(1.8rem, 8vw, 3.5rem);
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    color: var(--color-white);
    text-align: center;
    max-width: 90%;
}

.main-image {
    max-width: clamp(10rem, 30vw, 25rem);
    height: auto;
}

.section-title {
    font-family: "Inter", serif;
    font-size: clamp(1.25rem, 5vw, 2.25rem);
    font-weight: 700;
    color: var(--color-primary);
    margin: 0.625rem 0;
    text-align: center;
    width: 100%;
    padding-top: 2rem;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 37.5rem;
    margin-top: 1.25rem;
}

.input-name {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 0.125rem solid #000;
    border-radius: 1.5rem 0 0 1.5rem;
    font-size: 1rem;
    outline: none;
}

/* Estilos de botão */
button {
    padding: 0.75rem 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: 0.125rem solid #000;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 1.5rem 1.5rem 0;
    border-left: none;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    margin: 1.25rem 0;
    width: 100%;
}

.name-list {
    flex-grow: 1;    
    overflow-y: auto;
    min-height: 3rem;
    text-align: center;
}

 .result-list {
    margin-top: 1rem;
    color: #5D2F77;
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    width: auto;
    padding: 0.75rem 2rem;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 1rem;
}

.button-draw img {
    width: 1.5rem;
    height: 1.5rem;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

@media (max-width: 48rem) {
    .header-banner {
        flex-direction: column;
        flex: 0 1 auto;
        padding: 1.5rem;
        gap: 1rem;
    }

    .main-title {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}
